.fileira {
    display: block;
}

.bloco-jogo {
    display: flex;
    gap: 15px;
}

.logos {
    width: 170px;
    border-radius: 10px;
}

.comentario-de-jogo {
    font-size: 12px;
    color: rgb(161, 202, 255);
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 700px) {
    .bloco-jogo {
        flex-direction: column;
        align-items: center;
    }
}