body {
    background-color: rgb(65, 80, 112);
    margin: 0;
}

.central {
    display: flex;
    background-color: rgba(108, 108, 153, 0.322);
    margin: 250px 400px 250px 400px;
    border-radius: 50px;
}

.icone-principal {
    margin: 0 0 0 80px;
}

.icone-principal img {
    width: 390px;
    height: 430px;
}

.nav-redes-sociais {
    display: flex;
    margin: 5px 0 0 162px;
    gap: 10px;
}

.nav-redes-sociais img{
    border-radius: 100%;
    width: 35px;
}

.usuario {
    margin: 10px 50px 10px 90px;
    font-size: 70px;
}