body {
    background-image: url(Arquivos/background.jpg);
    margin: 0;
}

.central {
    display: flex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.200));
    margin: 250px 400px 250px 400px;
    border-radius: 50px;
}

.icone-principal { /*mexe com a div*/
    margin: 0 0 0 80px;
}

.icone-principal img { /*mexe com a imagem da div*/
    width: 390px;
    height: 430px;
}

.nav-redes-sociais {
    display: flex;
    margin: 5px 0 0 162px;
    gap: 10px;
}

.nav-redes-sociais img{
    border-radius: 100%;
    width: 35px;
}

.usuario {
    margin: 10px 50px 10px 90px;
    font-size: 70px;
}