body {
    background-image: url(Arquivos/background.jpg);
    margin: 0;
    display: flex;
}

.central {
    display: flex;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.250));
    margin: 250px 400px 250px 400px;
    border-radius: 50px;
}

.icone-principal { /*mexe com a div*/
    margin: 0 0 0 70px;
}

.icone-principal img { /*mexe com a imagem da div*/
    width: 390px;
}

.nav-redes-sociais {
    display: flex;
    margin: 5px 0 0 102px;
    gap: 10px;
}

.nav-redes-sociais img{
    border-radius: 100%;
    width: 35px;
}

#tiktok {
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

#discord {
    background-color: rgba(41, 77, 155, 0.5);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

#youtube1 {
    background-color: rgba(155, 41, 41, 0.5);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

#youtube2 {
    background-color: rgba(155, 41, 41, 0.5);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

#instagram {
    background-color: rgba(196, 48, 105, 0.5);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

.usuario {
    margin: 10px 50px 10px 90px;
    font-size: 70px;
    color: white;
}